/*This media query will hide the fill class on a smaller screen*/

@media screen and (max-width: 600px) {
    div.fill {
      display: none;
    }
  }




li {
    font-size: 10px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333
}

h1 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}

h2 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    
}


.navfont {
    font-size: 18px;
    color: whitesmoke;
}


.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../images/capture.png');
}

.quotes{
    padding: 40px;
    text-align: center;
    font:bold;
    font-size: 40px;
}

.quoteName{
    text-align: center;
    padding-right: 40px;
    font:bold;
    font-size: 20px;
}

.rcorners {
    border-radius: 25px;
    background: #99ffcc;
    padding: 100px; 
    margin: 30px;

}

.box{
    background: whitesmoke;
    padding: 100px; 
    margin: 30px;
}

button{

    align:
}

footer {
    border-top: 1px solid #dddddd;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}

button {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    float: right;
}



/*
    black - background-color: #333;
    green - background-color:  #99ffcc;
    background-color: whitesmoke;
*/


