
li {
    font-size: 10px;
}


body {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.navfont {
    font-size: 18px;
    
    color: whitesmoke;

}


.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../images/capture.png');
}

.quotes{
    padding: 40px;
    text-align: center;
    font:bold;
    font-size: 40px;
}

.quoteName{
    text-align: center;
    padding-right: 40px;
    font:bold;
    font-size: 20px;
}

/*
    black - background-color: #333;
    green - background-color:  #99ffcc;
    background-color: whitesmoke;
*/


