
p,li {
    font-size: 10px;
}


body {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.navfont {
    font-size: 18px;
    font-weight: bold;

}

/*
    black - background-color: #333;
    green - background-color:  #99ffcc;
    background-color: whitesmoke;
*/




