/*This media query will hide the fill class on a smaller screen*/
@media screen and (max-width: 600px) {
  div.fill {
    display: none;
  }
}
li {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}
footer {
  border-top: 1px solid whitesmoke;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}
.navfont {
  font-size: 18px;
  color: whitesmoke;
}
.headers {
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: #333;
}
.headers h1 {
  font-size: 28px;
}
.headers h2 {
  font-size: 24px;
}
.headers h3 {
  font-size: 20px;
}
.heroimage .fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../images/capture.png');
}
.heroimage .quotes {
  padding: 40px;
  text-align: center;
  font: bold;
  font-size: 40px;
}
.heroimage .quoteName {
  text-align: center;
  padding-right: 40px;
  font: bold;
  font-size: 20px;
}
.boxandsquares .rcorners {
  border-radius: 25px;
  background: #99ffcc;
  padding: 100px;
  margin: 30px;
}
.boxandsquares .box {
  background: whitesmoke;
  padding: 100px;
  margin: 30px;
}
button {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  color: whitesmoke;
  font-weight: bold;
  float: right;
}
